@font-face {
    font-family: Inter;
    src: url("../fonts/Inter_28pt-Regular.ttf");
}
@font-face {
    font-family: ReadexPro;
    src: url("../fonts/ReadexPro-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
input,button{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
img{
    max-width: 100%;
    /* width: 100%; */
    max-height: 100%;
    /* height: 100%; */
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
:root{
    --mainColor: #4B4B4B;
    --wrapperColor: #DCE5E2;
    --cardColor: #F8F9FA;
}

/* header  */
.top{
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: .3s;
    box-shadow: #000 0px 0px 10px;
}
.top.hidden{
    bottom: -60px;
    right: -60px;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .5s;
    background: #ffffff;
}
.header.shrink{
    box-shadow: 0 5px 5px #0001;
}
.header.shrink .navbar{
    height: 55px;
}
.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
.navCollaction{
    display: flex;
    gap: 33px;
}
.navItem{
    font-size: 14px;
    text-transform: uppercase;
    font-family: Inter;
    transition: .3s;
}
.navItem:hover{
    color: var(--mainColor);
}
.animateLogo{
    transform: translate(-50px, -30px) scale(0.8);
    opacity: 0;
    animation: logoAnima .3s ease-in .3s forwards;
}
@keyframes logoAnima {
    to{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}
.animateItem:first-child{
    transform: translate(-10px, -30px) scale(0.8);
    opacity: 0;
    animation: itemAnima1 .3s ease-in .4s forwards;
}
.animateItem:nth-child(2){
    transform: translate(-5px, -30px) scale(0.8);
    opacity: 0;
    animation: itemAnima2 .3s ease-in .6s forwards;

}
.animateItem:nth-child(3){
    transform: translate(5px, -30px) scale(0.8);
    opacity: 0;
    animation: itemAnima3 .3s ease-in .8s forwards;

}
.animateItem:last-child{
    transform: translate(10px, -30px) scale(0.8);
    opacity: 0;
    animation: itemAnima4 .3s ease-in .1s forwards;
}
@keyframes itemAnima1 {
    to{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}
@keyframes itemAnima2 {
    to{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}
@keyframes itemAnima3 {
    to{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}
@keyframes itemAnima4 {
    to{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}
.navRight{
    display: flex;
    align-items: center;
    gap: 18px;
}
.navRight img:first-child{
    transform: translate(20px, -30px) scale(0.8);
    opacity: 0;
    animation: rigthAnima .3s ease-in 1.1s forwards;
}
.navRight img:last-child{
    transform: translate(40px, -30px) scale(0.8);
    opacity: 0;
    animation: rigthAnima2 .3s ease-in 1.3s forwards;
}
@keyframes rigthAnima {
    to{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}
@keyframes rigthAnima2 {
    to{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

/* hero  */
.heroWrapper{
    margin-top: 28px;
    max-width: 1249px;
    width: 100%;
    /* min-height: 550px; */
    height: 100%;
    background: var(--wrapperColor);
    border-radius: 30px;
    display: flex;
}
.heroDesc, .heroImg{
    width: 50%;
}
.heroDesc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-left: 56px;
}
.heroTitle{
    max-width: 588px;
    width: 100%;
    font-family: ReadexPro;
    font-size: 58px;
}
.heroText{
    margin-top: 19px;
    max-width: 565px;
    width: 100%;
    font-family: Inter;
    font-size: 16px;
}
.heorBtn{
    margin-top: 30px;
    padding: 14px 53px;
    background: transparent;
    border: 1px solid;
    border-radius: 200px;
    transition: .3s;
    font-size: 18px;
    font-family: Inter;
}
.heorBtn:hover{
    background: #F8F9FA;
}
.heorBtn:active{
    background: #000;
    color: #ffffff;
}

.heroImg{
    display: flex;
}
.heroWrapperAnima{
    transform: translateY(40px) scale(0.8);
    animation: wrapperHeroAnima .3s linear 1.4s forwards;
    opacity: 0;
}
@keyframes wrapperHeroAnima {
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
.heroTitleAnima{
    transform: translateX(-150px) scale(0.8);
    animation: titleHeroAnima .4s linear 1.5s forwards;
    opacity: 0;
}
.heroTextAnima{
    transform: translateX(-150px) scale(0.8);
    animation: textHeroAnima .4s linear 1.6s forwards;
    opacity: 0;
}
.heroBtnAnima{
    transform: translateX(-150px) scale(0.8);
    animation: btnHeroAnima .4s linear 1.7s forwards;
    opacity: 0;
}
@keyframes titleHeroAnima {
    to{
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}
@keyframes textHeroAnima {
    to{
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}
@keyframes btnHeroAnima {
    to{
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}
.heroImgAnima{
    transform: translateY(200px) scale(0.8);
    opacity: 0;
    animation: imgHeroAnima .4s ease-in 1.6s forwards;
}
@keyframes imgHeroAnima {
    to{
        transform: translate(0) scale(1);
        opacity: 1;
    }
}

/* itemsrule  */
.itemruleWrapper{
    max-width: 1280px;
    min-height: 606px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.itemsruleTitle{
    margin-top: 72px;
    max-width: 642px;
    width: 100%;
    font-size: 42px;
    font-weight: 400;
    font-family: ReadexPro;
}
.itemsruleText{
    margin-top: 9px;
    max-width: 422px;
    width: 100%;
    font-size: 13px;
    font-family: ReadexPro;
    text-align: center;
}
.itemsruleAnima{
    transform: translateY(100px) scale(0.8);
    animation:  itemsruleAnima1 .4s ease-in  1.6s forwards;
    opacity: 0;
}
@keyframes itemsruleAnima1 {
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
.itemsruleCardsWrapper{
    margin-top: 50px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;

}
.itemsruleCard{
    max-width: calc(25% - 19.5px);
    width: 100%;
}
.itemsruleCardHead img{
    width: 100%;
    height: 100%;
}
.itemsruleCardBody{
    margin-top: 9px;
}
.itemsruleCardTitle{
    font-family: ReadexPro;
    font-weight: 400px;
    font-size: 22px;
}
.itemsruleCardText{
    max-width: 261px;
    width: 100%;
    margin-top: 9px;
    font-size: 14px;
    color: var(--mainColor);
    font-family: Inter;
}
.itemsruleCardPrice{
    margin-top: 25px;
    font-family: Inter;
    font-size: 18px;
}
.itemruleWrapper{
    transform: translateY(200px) scale(0.8);
    animation: itemruleWrapperAnima .3s linear 1.6s forwards;
    opacity: 0;
}
@keyframes itemruleWrapperAnima {
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

/* seebest */
.seebestWrapper{
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seebestTitle{
    margin-top: 43px;
    max-width: 529px;
    width: 100%;
    font-size: 42px;
    font-family: ReadexPro;
    font-weight: 400;
}
.seebestText{
    margin-top: 9px;
    font-family: ReadexPro;
    font-size: 13px;
}
.seebestCardWrapper{
    margin-top: 56px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}
.seebestCard{
    max-width: calc(33.33% - 18px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cardColor);
    border-radius: 20px;
    transition: .3s;
}
.seebestCard:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.seebestCardHead{
    margin-top: 41px;
    text-align: center;
}
.seebestCardText{
    max-width: 253px;
    width: 100%;
    font-family: ReadexPro;
    font-size: 13px;
    font-weight: 400;
}
.seebestCardTitle{
    max-width: 253px;
    width: 100%;
    font-family: ReadexPro;
    font-size: 28px;
    font-weight: 400;
}
.seebestCardBtn{
    margin-top: 30px;
    /* background: transparent; */
    padding: 14px 63px;
    border-radius: 200px;
    border: 1px solid #000;
    font-size: 18px;
    font-family: Inter;
    transition: .5s;
}
.seebestCardBtn:hover{
    background: #FFF
}
.seebestCardBtn:active{
    background: #000;
    color: #ffffff;
}
.seebestCardImg{
    margin-top: 30px;
}
.seebestCardImg img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* ideas */
.ideasWrapper{
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ideasTitle{
    margin-top: 47px;
    max-width: 497px;
    width: 100%;
    font-size: 42px;
    font-weight: 400;
    font-family: ReadexPro;
}
.ideasText{
    margin-top: 9px;
    max-width: 422px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    font-family: ReadexPro;
}
.ideasDescWrapper{
    margin-top: 56px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    gap: 35px;
}
.ideasDesc, .ideasImg{
    width: 50%;
}
.ideasImg img{
    width: 100%;
    height: 100%;
}
.ideasDesc{
    margin-top: 14px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ideasText1{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
}
.ideasSeeallBtn{
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.ideasSeeallBtn span{
    font-size: 24px;
    font-family: Inter;
}

/* looking  */
.lookingWtapper{
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lookingTitle{
    max-width: 563px;
    width: 100%;
    margin-top: 51px;
    font-family: ReadexPro;
    font-size: 42px;
    font-weight: 400;
}
.lookingSearch{
    margin-top: 35px;
    max-width: 650px;
    width: 100%;
    height: 60px;
    background: var(--cardColor);
    border-radius: 200px;
    display: flex;
    align-items: center;
    padding-left: 17px;
    border: 1px solid #ddd;
}
.lookingSearch:hover{
    border: 1px solid #333;
}
.lookingSearch input{
    background: transparent;
    text-indent: 20px;
    font-size: 14px;
    font-family: Inter;
    color: #000;
}
.lookingSearch input::placeholder{
    color: #000;
    font-size: 14px;
    font-family: Inter;
}

.lookingTyple{
    margin-top: 20px;
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
}
.lookkingTypeBtn{
    padding: 12px 22px;
    border: 1px solid #999;
    border-radius: 200px;
    font-size: 14px;
    font-family: Inter;
    transition: .3s;
}
.lookkingTypeBtn:hover{
    background: var(--cardColor);
}
.lookkingTypeBtn:active{
    background: var(--wrapperColor);
}
.lookingInfoWrapper{
    margin-top: 60px;
    max-width: 935px;
    width: 100%;
    background: var(--wrapperColor);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.lookingInfoTitle{
    margin-top: 47px;
    max-width: 393px;
    width: 100%;
    font-size: 42px;
    font-weight: 400;
    font-family: ReadexPro;
}
.lookingInfoText{
    max-width: 549px;
    width: 100%;
    margin-top: 9px;
    font-family: Inter;
}
.lookingInfoImg{
    margin-top: 15px;
}
.lookingInfoSearch{
    margin-top: 13px;
    margin-bottom: 43px;
    max-width: 400px;
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 200px;
    display: flex;
    align-items: center;
    transition: .3s;
}
.lookingInfoSearch:hover{
    background: #FFF;
}
.lookingInfoSearch input{
    max-width: 285px;
    font-size: 14px;
    font-family: Inter;
    text-indent: 32px;
    flex: 1;
}
.lookingInfoSearch input::placeholder{
    font-size: 14px;
    font-family: Inter;
    color: #000
}
.lookingInfoSearch button{
    padding: 16px 32px;
    background: #000;
    color: #ffffff;
    border-radius: 0 200px 200px 0;
    tab-size: 14px;
    font-family: Inter;
}

/* footer  */
.footer{
    margin-top: 15px;
    background: var(--cardColor);
    padding-top: 48px;
    padding-bottom: 20px;
}
.footerWrapper{
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footerText{
    margin-top: 18px;
    max-width: 304px;
    width: 100%;
    font-family: Inter;
}
.footerCollaction{
    display: flex;
    flex-direction: column;
}
.ftrTitle{
    flex-wrap: 400;
    font-family: ReadexPro;
    font-size: 22px;
}
.footerItem{
    margin-top: 19px;
    font-size: 17px;
    font-family: Inter;
}
.footerItem:hover{
    color: var(--mainColor);
}


@media (max-width: 990px) {
    /* hero  */
    .heroDesc{
        padding-left: 30px;
    }
    .heroTitle{
        font-size: 30px;
    }
    .heroText{
        margin-top: 10px;
        font-size: 16px;
    }
    .heorBtn{
        margin-top: 20px;
    }

    /* itemsrule */
    .itemsruleTitle{
        font-size: 42px;
        text-align: center;
    }
    .itemsruleCard{
        max-width: calc(50% - 26px);
    }
    .itemsruleCardTitle{
        font-size: 26px;
    }
    .itemsruleCardText{
        max-width: 330px;
        width: 100%;
        font-size: 16px;
    }
    /* seebest */
    .seebestCard{
        max-width: calc(50% - 27px);
    }
    /* ideas  */
    .ideasDescWrapper{
        flex-direction: column;
        align-items: center;
    }
    .ideasImg, .ideasDesc{
        width: 100%;
    }
    .ideasDesc{
        margin-top: -10px;
        max-width: 670px;
        width: 100%;
    }
    .ideasText1{
        margin-top: 10px;
        font-size: 26px;
    }
    .ideasSeeallBtn{
        margin-top: 50px;
    }
    /* footer  */
    .footerWrapper{
        justify-content: space-evenly;
    }
    .footerText{
        max-width: 200px;
        font-size: 14px;
    }
    .ftrTitle{
        font-size: 16px;
    }
    .footerItem{
        font-size: 14px;
    }
}


@media (max-width: 700px) {
    /* hero  */
    .navCollaction{
        display: none;
    }
    .itemsruleTitle{
        font-size: 34px;
    }

    /* footer  */
    .footerText{
        max-width: 150px;
        font-size: 12px;
    }
    .ftrTitle{
        font-size: 14px;
    }
    .footerItem{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    /* hero  */
    .heroWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px 0 10px;
    }
    .heroDesc, .heroImg{
        width: 100%;
    }
    .heroDesc{
        margin-top: 30px;
        padding-left: 0;
        display: flex;
    }
    .heroTitle{
        width: 100%;
        font-size: 38px;
        text-align: center;
    }
    .heroText{
        width: 100%;
        font-size: 20px;
    }
    .heorBtn{
        margin: 20px auto;
    }

    /* itemsrule */
    .itemsruleText{
        font-size: 18px;
    }
    .itemsruleCard{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .itemsruleCardTitle{
        font-size: 26px;
    }
    .itemsruleCardText{
        max-width: 350px;
        width: 100%;
        font-size: 20px;
    }
    .itemsruleCardPrice{
        margin-top: 20px;
    }

    /* seebest  */
    .seebestWrapper{
        text-align: center;
    }
    .seebestTitle{
        width: 100%;
    }
    .seebestCard{
        max-width: 100%;
    }

    /* ideas  */
    .ideasDesc{
        margin-top: -20px;
    }
    .ideasText1{
        font-size: 18px;
    }
    .ideasSeeallBtn{
        margin-top: 30px;
    }

    /* looking  */
    .lookingWtapper{
        margin-top: 0;
    }
    .lookingTitle{
        font-size: 34px;
        text-align: center;
    }

    /* looking  */
    .lookingInfoWrapper{
        padding: 0;
    }
    .lookingInfoTitle{
        font-size: 36px;
    }
    .lookingInfoSearch{
        max-width: 300px;
        width: 100%;
    }
    .lookingInfoSearch input{
        max-width: 260px;
        width: 100%;
    }

    /* footer  */
    .footerWrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footerText{
        max-width: 300px;
        font-size: 18px;
        margin: 10px auto 20px;
    }
    .footerCollaction{
        margin-top: 20px;
    }
    .ftrTitle{
        font-size: 26px;
    }
    .footerItem{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    /* hero  */
    .heroWrapper{
        padding: 0 7px 0 7px;
    }
    .heroDesc{
        margin-top: 30px;
        padding-left: 0;
        display: flex;
        align-items: center;
    }
    .heroTitle{
        width: 100%;
        font-size: 36px;
        text-align: center;
    }
    .heroText{
        width: 100%;
        text-align: center;
    }

}
@media (max-width: 400px) {
    /* hero  */
    .heroWrapper{
        padding: 0 5px 0 5px;
    }
    .heroDesc{
        margin-top: 30px;
        padding-left: 0;
        display: flex;
        align-items: center;
    }
    .heroTitle{
        width: 100%;
        font-size: 32px;
    }
    .heroText{
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    /* itemsrule */
    .itemsruleCardTitle{
        font-size: 20px;
    }
    .itemsruleCardText{
        font-size: 14px;
    }

        /* ideas  */
        .ideasDesc{
            margin-top: -30px;
        }
        .ideasText1{
            font-size: 14px;
        }
}